$screen-height: 4rem;

.screen {
    @include themed() {
        background: t("scr-bg");
    }
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: $calc-padding;
    margin: 1rem 0;
    height: $screen-height;
    border-radius: $calc-bradius;
    .inner-screen {
        width: $calc-width - $calc-padding * 2;
        display: grid;
        grid-template-rows: 1rem auto;
        overflow: hidden;
        text-align: right;
        height: 100%;
        .result,
        .memory {
            @include themed() {
                color: t("headings");
            }
        }
        .memory {
            font-size: 0.7rem;
            grid-row: 1 / 2;
        }
        .outer-result {
            width: 100%;
            text-align: right;
            overflow: hidden;
            grid-row: 2 / 3;
            .result {
                float: right;
            }
        }
    }
}